@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Slugs Racer';
    src:   url('/public/fonts/Slugs Racer.ttf') format('trueType')  ;
    font-weight: normal;
    font-style: normal;
}

